<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>【逃走者】 Tag It ~サイバー鬼ごっこ~</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <link rel="stylesheet" href="static/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <body>
        <!--Google map-->
        <main class="container">
            <div id="map" class="map"></div>
            <p id="info" class="info"></p>
          </main>
          <script src="static/js/script.js"></script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ7qDMALR0Gjh3soHjEToAcJJCKrJCdEk&callback=init"></script>
    </body>
    </html>