<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>【鬼】 Tag It ~サイバー鬼ごっこ~</title>
  <link rel="stylesheet" href="/static/css/styles2.css">
</head>
<body id="page-top">
  <!--Google map-->
  <main class="container">
    <div id="map" class="map"></div>
    <p id="info" class="info"></p>
  </main>
</body>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ7qDMALR0Gjh3soHjEToAcJJCKrJCdEk"></script>
<script src="/static/js/app.js"></script>
</html>