<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Tag It サイバー鬼ごっこ</title>
  <meta name="description" content="サイバー鬼ごっこが遊べるWebサービス">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
   <div class="container">
      <section class="header">
         <h2 class="title" id="demotext">Tag It サイバー鬼ごっこ</h2>
         <div class="value-props row">
           <div class="six columns value-prop">
            <img class="value-img" src="static/images/wolf.png" style="width: 40%;height: 40%;">
            <a class="button button-primary" href="/Oni" id="demotext" style="background-color: #000" >鬼側で参加</a>
           </div>
           <div class="six columns value-prop">
             <img class="value-img" src="static/images/horse.png" style="width: 40%;height: 40%;">
             <input placeholder="ニックネーム" type="text" id="hoge" style="background-color: #000;color:white;">
             <button onclick="join()" class="button" id="demotext">
              逃げ側で参加
              </button>
           </div>
         </div>
      </section>
      <section class="docs-section">
         <h6 class="docs-header">Tag It サイバー鬼ごっことは?</h6>
         <p>子供の頃に誰しもが遊んだことがある「鬼ごっこ」をサイバーかつモダンに仕上げたゲームです。</p>
         <p>GPSを用いて、逃げ側の位置情報を鬼側に送信します。</p>
         <p>クールでエキサイティングな鬼ごっこ、Tag It</p>
      </section>
      <section class="docs-section">
         <h6 class="docs-header">鬼側の遊び方</h6>
         <p>基本的なルールでは、5分~20分程度の待ち時間を決め、その間はある場所から動くことはできませんが、Tag ItシステムでGPSを追跡することは可能です。</p>
         <p>待ち時間の間に作戦を立て、手分けして広大なフィールドから逃げを探し出しましょう。</p>
      </section>
      <section class="docs-section">
         <h6 class="docs-header">逃げ側の遊び方</h6>
         <p>5分~20分程度の待ち時間が与えられたら、その時間内にできるだけ遠くへ散らばり、鬼の追跡に備えます。</p>
         <p>細かなルールは各自で決めてもらって構いませんが、建物や見通しの悪い場所に隠れる「芋」行為はゲームバランスを崩壊させるので禁止することをおすすめします。</p>
      </section>
  </div>
</body>
<script>
const input = document.querySelector('input')
const btn = document.getElementById('btn')
let userName = ''
input.addEventListener('input', function () {
  if(input.value.length > 0) {
    userName = input.value
    if(!btn.classList.contains('button-primary')){
      btn.classList.add("button-primary")
      btn.disabled = false
    }
  } else {
    if(btn.classList.contains('button-primary')){
      btn.classList.remove("button-primary")
      btn.disabled = true
    }
  }
})
function join() {
	document.cookie = "name=" + userName
	location.href = '/Nige'
}
</script>
</html>
